<h3>New Student</h3>
<div [hidden]="submitted" style="width: 400px;">

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">First Name : </label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="student.firstName" name="firstName">
  </div>

  <div class="form-group">
    <label for="name">Last Name : </label>
    <input type="text" class="form-control" id="lastName" required [(ngModel)]="student.lastName" name="lastName">
  </div>

  <div class="form-group">
    <label for="name">Email Id : </label>
    <input type="text" class="form-control" id="emailId" required [(ngModel)]="student.emailId" name="emailId">
  </div>

  <div class="form-group">
    <label for="name">School Name : </label>
    <input type="text" class="form-control" id="schoolName" required [(ngModel)]="student.schoolName" name="schoolName">
  </div>

  <button (click)="addressLocationEnabled()" class="btn btn-primary">Address Location</button>

  <div *ngIf="isAddressEnabled">
    <div class="form-group">
      <label for="name">Street : </label>
      <input type="text" class="form-control" id="street" required [(ngModel)]="student.address.street" name="street">
    </div>

    <div class="form-group">
      <label for="name">City : </label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="student.address.city" name="city">
    </div>

    <div class="form-group">
      <label for="name">State : </label>
      <input type="text" class="form-control" id="state" required [(ngModel)]="student.address.state" name="state">
    </div>

    <div class="form-group">
      <label for="name">Country : </label>
      <input type="text" class="form-control" id="country" required [(ngModel)]="student.address.country" name="country">
    </div>

    <div class="form-group">
      <label for="name">Zip Code : </label>
      <input type="number" class="form-control" id="zipCode" required [(ngModel)]="student.address.zipCode" name="zipCode">
    </div>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>
</div>

<div [hidden]="submitted">
  <h4>Student Created Successfully</h4>
</div>
